:host {
    --slds-c-accordion-summary-color-background: #5593c046;
    --slds-c-textarea-sizing-min-height: 150px;
}

.header-image {
    height: 100px;
}

.toggle-position {
    position: absolute;
    top: 10px;
    right: 10px;
}

.prepare-data-button {
    position: absolute;
    left: 10px;
    top: 10px;
}

.workshop-button {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}